.container {
    width:252px;
    margin: 75px auto;
    position: relative;
      
}

#input {
    border: none;
    background-color: #efeeee;
    width: 180px;
    height: 25px;
    padding: 5px;

}

#add {
    font-size: x-large;
    padding: 2px 5px;
    color: #b7b6b6;
    border: none;
}

#add:hover {
    color: #000000;
   
}

.muell {
    position: absolute;
    right: 0;
   
  
  }
  
.muell:hover {
    font-size: large;
  }


#check {
    padding: 0px 20px 0px 0px;
    color: #b7b6b6;
}

#check:hover {
    font-size: large;
    color: #9d9d9d
}

ul {
    list-style: none;
    position: relative;
    left: -25px;
}

h3{
    position: relative;
    left: 50px
}

h1 {
    position: relative;
    left: 30px
}

.hidden {
    text-decoration: line-through;
}